/.gitignore
/build/
/.idea/
/venv/
/blur.spec
/models/models/dlib_face_recognition_resnet_model_v1.dat
/models/models/mmod_human_face_detector.dat
/models/models/deploy.prototxt.txt
/models/models/res10_300x300_ssd_iter_140000.caffemodel
/models/models/shape_predictor_5_face_landmarks.dat
/docs/source/conf.py
/docs/source/index.rst
/docs/source/make.bat
/docs/source/Makefile
